
 nav{
    /* background-color: rgba(6, 6, 6, 0.555);  */
    background-color: #070606;  
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: .9em 4em;
    border-bottom: 1px solid #3d3d3d;
    
 }

.logo{
    display: flex;
    align-items: center; 
}
.logo img{
    width: 100%;
    height: auto;
}
.logo p{
    font-family: 600;
    font-size:1.4rem;
    color: white;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;  
}

nav ul li{
    height:40px ;   
}

nav ul a{
    text-decoration: none;
    color: black;
    height: 100%; 
    display: flex;
    align-items: center;
    padding: 0 25px;  
    color: white;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
nav a:hover{
    background-color: whitesmoke;
    color: black;
    /* background-color: rgba(6, 6, 6, 0.555); */
    transition: all 0.5s ease-in-out;
}
  
.menu{
    /* background-color: red; */
    list-style: none;
    text-decoration: none;
    display: none; 
}






/*  MEDIA QUERY (mobile + tablet)   */
 

@media (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    /* padding: 1em;     */
    background-color: red;
  }

  .menu {
    display: block;
    cursor: pointer; 
  }

  .btn {
    /* display: none; */
  }

  }

















